.form{
margin: 0 auto;
    width: 924px;
    height: 68px;
    display: flex;
    align-items: end;
    gap: 16px;
    margin-top: 30px;
    margin-bottom: 56px;
}
.form button{
        padding: 12px 51px;
        width: 156px;
        height: 44px;
}
.fieldWrapper{
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
}
.labelInputWrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 8px;
}

label{
    font-weight: 400;
        font-size: 12px;
        line-height: 1.3;
        color: var(--main-color-minor-grey);
        padding-left: 5px;
}
.input{
    border-radius: 12px;
    border: none;
        padding: 0 16px;
        width: 204px;
        height: 44px;
        background-color: var(--main-color-gray-white);
        font-weight: 500;
            font-size: 16px;
            line-height: 1.25;
            color:var(--main-color-black);
}
.mileageInputsContainer{
    display: flex;
    justify-content: center;
    width: 320px;
}
.customLabelFrom {
    left: 24px;
}
.customLabelTo {
    left: 10px;
}

.mileageLabelParent{
    position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
        color: var(--main-color-black);
            pointer-events: none;
            z-index: 3;
         
}

.error{
    color: var(--main-color-gray-white);
        border: 1px solid red;
        border-radius: 12px;
        text-shadow: rgb(255, 0, 0) 1px 0 10px;
        padding: 5px;
        position: absolute;
        top: 110%;
        background-color: red;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.25;
}
.inputTo, .inputFrom {
    border: none;
    position: relative;
    width: 100%;
    height: 44px;
    border-radius: 12px;
    background-color: var(--main-color-gray-white);
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color-black); }

        .inputTo{
            padding-left: 45px;
            right: 15px;
        }
        .inputFrom{
            padding-left: 65px;
        }

                .inputFrom::-webkit-outer-spin-button,
                .inputFrom::-webkit-inner-spin-button,
                .inputTo::-webkit-outer-spin-button,
                .inputTo::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
        
                .inputFrom[type=number],
                .inputTo[type=number] {
                    -moz-appearance: textfield;
                }
                .mileageLabelInputWrapper{
                    position: relative;
                }
.mileageLabelInputWrapper:first-child::after{
    content: ' ';
    position: absolute;
    left: 90%;
        top: 0;
        bottom:0;
    width: 1px;
    height: 44px;
    background-color: var(--main-color-light-grey);
    z-index: 10;
}
.mileageLabelInputWrapper > .input {
    width: 160px;
}
.mileageLabelInputWrapper{
    position: relative;
        display: flex;
        align-items: center;
}
input:focus,
.inputFrom:focus {
    outline: none;
    border-top: 2px solid var(--main-color-blue);
        border-left: 2px solid var(--main-color-blue);
        border-bottom: 2px solid var(--main-color-blue);
        border-right: none;
}