.wrapper {
    position: relative;
    width: 196px;
}

.arrowWrapper {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
    transition: transform var(--main-transition);
}

.arrow {
    width: 16px;
    height: 16px;
    fill: var(--main-color-black);
}

.up .arrow {
    transform: rotate(180deg);
}

.error {
    font-size: 12px;
    color: red;
    margin-top: 4px;
}

/* .custom{
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
    border-radius: 12px;
        padding: 12px 16px;
        width: 204px;
        height: 44px;
        background-color: var(--main-color-gray-white);
}
.input{
    
} */