.cardList{
    display: flex;
    gap: 48px 32px;
    flex-wrap: wrap;
}
.cardItem{
    width: calc((100% - 3*32px)/4);
}
.btnLoadMore{
    border: 1px solid var(--main-color-blue);
        border-radius: 12px;
        width: 156px;
        height: 44px;
        margin-top: 80px;
        font-weight: 600;
            font-size: 16px;
            line-height: 1.25;
            color: var(--main-color-black);
            background-color: transparent;
            transition: color var(--main-transition);
}
.btnLoadMore:hover, .btnLoadMore:focus{
color: var(--main-color-white);
}
.wrapperFilter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}