.wrapperCard{
    width: 276px;
        height: 424px;
        display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
          padding: 0px;
          position: relative;
}
.wrapperImg{
    border-radius: 14px;
    overflow: hidden;
        width: 276px;
        height: 268px;
        margin-bottom: 16px;
}
.wrapperImg img {
    object-fit: cover;
}
.iconFavorite{
        cursor: pointer;
    fill: var(--main-color-blue-white);
    transition: fill stroke var(--main-transition);
}
.iconFavorite.liked{
    fill: var(--main-color-blue);
    stroke: var(--main-color-blue);
}
.btnFavorite{
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
        top: 16px;
        right: 16px;
}

.wrapperSecondTitleAndPrice{
  display: flex;
  justify-content: space-between;  
  margin-bottom: 8px;
  width: 276px;
}
.titleSecond{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        color: var(--main-color-black);
}
.customModel{
    color: var(--main-color-blue);
}
.textCard{
    font-weight: 400;
        font-size: 12px;
        line-height: 1.3;
        color: var(--main-color-minor-grey);
}
.textCard:first-of-type{
    margin-bottom: 4px;
}
.textCard:last-of-type{
    margin-bottom: 30px;
}